<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="00만의 블로그">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <title>나만의 블로그</title>

    <script th:inline="javascript">
        
        function deleteArticle(id) {
            if (confirm("해당 게시글을 삭제하시겠습니까?") == true) {
                $.ajax({
                    type: 'GET',
                    url: '/article/articles/delete?id=' + id
                });
                alert("삭제 성공");
                location.reload();
            }else{
                return false;
            }
        }
        
    </script>

    <style>
        .container {
            width: 300px;
            margin: auto;
        }

    </style>

</head>
<body>
<div class="container">
    <div class="header" style="position:relative;">
        <div id="header-title-login-user">
            <span>게시글 목록</span>
        </div>
    </div>
    <div class="nav">
        <table>
            <colgroup>
                <col style="width:auto;" />
                <col style="width:auto;" />
            </colgroup>
            <thead>
                <tr>
                    <th>작성자</th>
                    <th>글제목</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="articles : ${articles}">
                    <td th:utext="${articles.name}"></td>
                    <td><a th:utext="${articles.title}" th:href="@{|/article/articles/${articles.id}|}"></a></td>
                    <td><button style="display: inline-block;" th:attr="onclick=|deleteArticle(${articles.id})|">삭제</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>